<table class="table">
  <thead>
  <tr>
    <th scope="col">Original value</th>
    <th scope="col">Pipe name</th>
    <th scope="col">After transform</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ loremValue }}</td>
    <td>'uperCase'</td>
    <td>{{ loremValue | uppercase }}</td>
  </tr>
  <tr>
    <td>{{ example }}</td>
    <td>lowerCase</td>
    <td>{{ example | lowercase }}</td>
  </tr>
  <tr>
    <td>{{ jsonObject }}</td>
    <td>lowerCase</td>
    <td>{{ jsonObject | json }}</td>
  </tr>
  <tr>
    <td>{{ birthday }}</td>
    <td>date</td>
    <td>{{ birthday | date : 'medium' }}</td>
  </tr>
  <tr>
    <td>{{ birthday }}</td>
    <td>date</td>
    <td>{{ birthday | date : 'full' }}</td>
  </tr>
  <tr>
    <td>{{ lorem }}</td>
    <td>snakeCase</td>
    <td>{{ lorem | snakeCase}}</td>
  </tr>
  </tbody>
</table>

<hr>
<div>
  <h3>ngIf</h3>

  <button (click)="isAuthenticated = !isAuthenticated" class="btn btn-success">Success</button>

  <div *ngIf="isAuthenticated; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>User is authenticated</ng-template>
  <ng-template #elseBlock>User is not authenticated</ng-template>
</div>

<br>

<div class="mx-3">
  <h3>ngFor</h3>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let person of persons">
      {{ person }}
    </li>
  </ul>
</div>

<br>

<div>
  <h3>Custom Directive</h3>
  <span appChangeText></span>
</div>
